<!DOCTYPE html>
<html xmlns="‌http://www.w3.org/1999/xhtml"
      xmlns:th="‌http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Main Page</title>
        <link href="/css/history.css" th:href="@{/css/history.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:object="${commit}">
            <label for="">parent</label>

            <ul>
                <li th:each="parent : *{parents}" ><a th:href="|../${parent}/|" th:text="${parent}"></a></li>
            </ul>

            <label th:text="*{sha1}"></label>
            <ul>
                <li><label th:text="*{message}"></label></li>
                <li><label th:text="*{author}"></label></li>
                <li><label th:text="*{date}"></label></li>
            </ul>

            <hr/>
            
            <p><a id="download-csv" href="./download-csv">csvでダウンロード</a></p>

            <label for="">modified files</label>

            <table>
                <thead></thead>
                <tbody>
                    <tr th:each="file : *{modifiedFiles}" th:classappend="${file.changeType.toString()}">
                        <td><label for="" th:text="${file.changeType}"></label></td>
                        <td th:with="a = ${file.getPath()}">
                            <a th:href="|./diff?path=${a}|" th:text="${a}"></a></td>
                        <td><label for="" th:text="${file.patch}"></label></td>
                    </tr>
                </tbody>
            </table>

            <hr/>


        </div>
    </body>
</html>
