<!DOCTYPE html>
<html xmlns="‌http://www.w3.org/1999/xhtml"
      xmlns:th="‌http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Main Page</title>
        <link type="text/css" rel="stylesheet" href="/third-party/Mergely/codemirror.css" th:href="@{/third-party/Mergely/codemirror.css}" />
        <link type="text/css" rel="stylesheet" href="/third-party/Mergely/mergely.css" th:href="@{/third-party/Mergely/mergely.css}" />
        <link type="text/css" rel="stylesheet" href="/css/diff.css" th:href="@{/css/diff.css}" />
    </head>
    <body>
    <ul id="toolbar">
    <li id="prev-diff" class="menu-item" title="previous diff"><button>&lt;</button></li>
    <li id="next-diff" class="menu-item" title="next diff"><button>&gt;</button></li>
    </ul>
    
        <div id="compare">
        </div>

        <script type="text/javascript" src="/third-party/jquery/jquery-3.2.1.min.js" th:src="@{/third-party/jquery/jquery-3.2.1.min.js}"></script>

        <script type="text/javascript" src="/third-party/Mergely/codemirror.min.js" th:src="@{/third-party/Mergely/codemirror.min.js}"></script>

        <script type="text/javascript" src="/third-party/Mergely/mergely.min.js" th:src="@{/third-party/Mergely/mergely.min.js}"></script>

        <script type="text/javascript" src="/js/diff.js" th:src="@{/js/diff.js}"></script>

    </body>
</html>
