<!DOCTYPE html>
<html xmlns="‌http://www.w3.org/1999/xhtml"
      xmlns:th="‌http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Main Page</title>
    </head>
    <body>
        <form th:action="clone" th:method="POST" th:object="${project}">
            <p>
                <label for="">URL</label> <input type="text" th:field="*{url}" placeholder="git url" />
            </p>
            <p>
                <label for="">name</label> <input type="text" th:field="*{name}" placeholder="project name"/>
            </p>
            <button type="submit" class="btn btn-primary">clone</button>
        </form>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>名前</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proj : ${projects}">
                    <td><a class="btn btn-link" th:href="'history/' + ${proj.name} + '/'" th:text="${proj.name}"></a></td>
                    <td >
                        <form th:action="|./${proj.id}|" th:method="DELETE" >
                            <button class="btn btn-default" id="delete-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <script th:replace="template :: scripts"></script>
    </body>
</html>
